<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
		integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<link href="https://fonts.googleapis.com/css?family=Domine|Pacifico" rel="stylesheet">

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">



	<link rel="stylesheet" href="assets/css/style.css" type="text/css" />
	<title>Devour Cupcakes!</title>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="assets/js/cupcakes.js"></script>
</head>

<body>
	<div class="container text-center">
	{{{ body }}}
	</div>
</body>

</html>