.cd-1 {
    min-height: 300px;
    border: none;
}

card {
    border: none;
}

input {
    height: 50px;
    width: 300px
}

.cupcakes {
    width: 25%
}

body {
    background-color: rgb(245, 219, 197);
    background-size: 50%;
    color: rgb(85, 62, 45);
}

h1 {
    font-family: 'Pacifico', cursive;
    font-size: 50px;
    color: rgb(85, 62, 45)
}

.card-header {
    background-color: rgb(245, 150, 150);
    color: white;
    font-family: 'Pacifico', cursive;
}

.btn {
    color:  rgb(245, 150, 150);
    border-color: rgb(85, 62, 45);
    font-weight: bold;
}
